---
import BaseLayout from '@layouts/BaseLayout.astro'
import Post from '@components/Post.astro'
import { getCollection } from "astro:content";
import headshotAvif from '@assets/headshot.png?w=96;144;192&format=avif&imagetools';
import headshotWebp from '@assets/headshot.png?w=96;144;192&format=webp&imagetools';
import headshotJpg from '@assets/headshot.png?w=96;144;192&format=jpg&imagetools';
import headshotFallback from '@assets/headshot.png?w=96&format=jpg&imagetools';
const avif = (headshotAvif as string[]).map((image: string, i: number) => `${image} ${i * .5 + 1}x`).join(', ')
const webp = (headshotWebp as string[]).map((image: string, i: number) => `${image} ${i * .5 + 1}x`).join(', ')
const jpg = (headshotJpg as string[]).map((image: string, i: number) => `${image} ${i * .5 + 1}x`).join(', ')

const allPosts = (await getCollection('posts')).sort((a, b) => +new Date(b.data.pubDate) - +new Date(a.data.pubDate))
---

<BaseLayout slug="/author/josh" title="Josh Stock - Updates" description="All posts made by Josh Stock">
	<header class="relative pt-[calc(10rem+4vw)]">
		<div class="max-w-[calc(56rem+8vw)] mx-auto px-7 sm:px-16 md:px-32">
			<div class="relative pb-[calc(4rem+2vw)] border-b border-1 border-gray-300 dark:border-gray-700">
				<span class="flex ml-32 mb-5 text-xl text-neutral-400">
					<span class="text-average mr-1">Author</span> &#xFF0D; {allPosts.length} Post{allPosts.length === 1 ? '' : 's'}
				</span>
				<picture>
					<source srcset={avif} type="image/avif">
					<source srcset={webp} type="image/webp">
					<source srcset={jpg} type="image/jpg">
					<img src={headshotFallback as string} alt="Josh's headshot" class="absolute top-0 rounded-full overflow-hidden" loading="eager" />
				</picture>
				<h1 class="ml-32 text-5xl font-bold">Josh Stock <a class="ml-1 text-average hover:text-average/80 transition-colors ease-linear" data-umami-event="Outbound Link: Click" data-umami-event-url="https://joshuastock.net" href="https://joshuastock.net"><svg xmlns="http://www.w3.org/2000/svg" class="inline-block h-10 align-bottom fill-current" viewBox="0 0 512 512"><path d="m57.7 193 9.4 16.4c8.3 14.5 21.9 25.2 38 29.8l57.9 16.5c17.2 4.9 29 20.6 29 38.5v39.9c0 11 6.2 21 16 25.9s16 14.9 16 25.9v39c0 15.6 14.9 26.9 29.9 22.6 16.1-4.6 28.6-17.5 32.7-33.8l2.8-11.2c4.2-16.9 15.2-31.4 30.3-40l8.1-4.6c15-8.5 24.2-24.5 24.2-41.7v-8.3c0-12.7-5.1-24.9-14.1-33.9l-3.9-3.9c-9-9-21.2-14.1-33.9-14.1H257c-11.1 0-22.1-2.9-31.8-8.4l-34.5-19.7c-4.3-2.5-7.6-6.5-9.2-11.2-3.2-9.6 1.1-20 10.2-24.5l5.9-3c6.6-3.3 14.3-3.9 21.3-1.5l23.2 7.7c8.2 2.7 17.2-.4 21.9-7.5 4.7-7 4.2-16.3-1.2-22.8l-13.6-16.3c-10-12-9.9-29.5.3-41.3l15.7-18.3c8.8-10.3 10.2-25 3.5-36.7l-2.4-4.2c-3.5-.2-6.9-.3-10.4-.3-92.8 0-171.5 60.9-198.2 145zM464 256c0-36.8-9.6-71.4-26.4-101.5L412 164.8c-15.7 6.3-23.8 23.8-18.5 39.8l16.9 50.7c3.5 10.4 12 18.3 22.6 20.9l29.1 7.3c1.2-9 1.8-18.2 1.8-27.5zM0 256a256 256 0 1 1 512 0 256 256 0 1 1-512 0z"/></svg></a></h1>
			</div>
		</div>
	</header>
	<div class="block relative">
		{allPosts.map((post, i) => 
			<Post post={post} index={i} />
		)}
	</div>
</BaseLayout>