---
import BaseLayout from '@layouts/BaseLayout.astro';
import Post from '@components/Post.astro'
import { getCollection } from "astro:content";

const { tag } = Astro.params

if (tag === undefined)
	return new Response(null, { status: 404 })

const posts = await getCollection('posts', ({ data }) => data.tags?.includes(tag))

if (!posts.length)
	return new Response(null, { status: 404 })

const upper = `${tag?.charAt(0).toUpperCase()}${tag?.substring(1)}`

---

<BaseLayout slug=`/tags/${tag}` description=`All posts tagged ${tag}` title=`${upper} - Updates`>
	<header class="relative pt-[calc(10rem+4vw)]">
		<div class="max-w-[calc(56rem+8vw)] mx-auto px-7 sm:px-16 md:px-32">
			<div class="relative pb-[calc(4rem+2vw)] border-b border-1 border-gray-300 dark:border-gray-700">
				<div class="text-xl text-neutral-400">
					<span class="text-average mr-1">Topic</span> &#xFF0D; {posts.length} Post{posts.length === 1 ? '' : 's'}
				</div>
				<h2 class="text-5xl font-bold mt-4">{upper}</h2>
			</div>
		</div>
	</header>
	<div class="block relative">
		{posts.sort((a, b) => +new Date(b.data.pubDate) - +new Date(a.data.pubDate)).map((post, i) => 
			<Post post={post} index={i} />
		)}
	</div>
</BaseLayout>