---
import BaseLayout from "@layouts/BaseLayout.astro"
import Link from '@components/Link.astro'
import Umami from '@components/Umami.svelte'
const { error } = Astro.props
---

<Umami error="500" client:only="svelte" />
<BaseLayout title=`500 - ${error.message}`>
	<div class="text-center min-h-screen flex flex-col justify-center">
		<h1 class="block m-0 p-0 font-bold text-[10rem] leading-none">500</h1>
		<div class="text-center text-2xl">{error.message}</div>
		<div class="text-center">
			<Link href="/">Go to the front page →</Link>
		</div>
	</div>
</BaseLayout>
