---
export const prerender = false

const { DB, KEYS, ENCRYPTION_SECRET, IV, PUBLIC } = Astro.locals.runtime.env
import icon from '@assets/icon.svg?url'
import manifest from '@assets/manifest.webmanifest?url'
import '@layouts/base.css'
import bold700 from '@fonts/Brandon/Brandon-Grotesque-Web-Bold.woff2'
import regular400 from '@fonts/Brandon/Brandon-Grotesque-Web-Regular.woff2'
import verifyAdmin from '@lib/verifyAdmin'
import AdminPage from '@components/Admin.svelte'

const JWT = Astro.cookies.get('admin-api-session')?.value
const verified = await verifyAdmin(JWT, DB, KEYS, ENCRYPTION_SECRET, IV, Astro.site!.origin)
if (verified) {
	return Astro.redirect('/admin/dashboard')
}
//Astro.response.headers.set('Set-Cookie', `admin-api-session=; Path=/admin; Expires=Thu, 01 Jan 1970 00:00:00 GMT; SameSite=lax; Secure; HttpOnly=true`)
---
<html class="supports-[scrollbar-width]:[scrollbar-width:none] [&::-webkit-scrollbar]:hidden" lang="en">
	<head>
		<title>Login</title>
		<meta charset="utf-8" />
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<meta content="#b043d1" name="theme-color" />
		<link rel="preload" as="font" type="font/woff2" href={bold700} crossorigin="">
		<link rel="preload" as="font" type="font/woff2" href={regular400} crossorigin="">
		<link href="/favicon.ico" rel="icon" sizes="32x32" />
		<link href=`${icon}` rel="icon" type="image/svg+xml" />
		<link href=`${manifest}` rel="manifest" />
	</head>
	<body class="dark:bg-dark bg-light selection:bg-average/80 font-sans tracking-wide">
		<div class="contents">
			<AdminPage PUBLIC={PUBLIC} client:load />
			<slot />
		</div>
	</body>
</html>