---
import BaseLayout from '@layouts/BaseLayout.astro'
import Post from '@components/Post.astro'
import { getCollection } from "astro:content";
const { pathname } = Astro.url
const allPosts = (await getCollection('posts')).sort((a, b) => +new Date(b.data.pubDate) - +new Date(a.data.pubDate))
---

<BaseLayout slug={pathname} description="Thoughts, stories, and ideas" title="Updates">
	<header class="relative pt-[calc(10rem+4vw)]">
		<div class="max-w-[calc(56rem+8vw)] mx-auto px-7 sm:px-16 md:px-32">
			<div class="relative pb-[calc(4rem+2vw)] text-center border-b border-1 border-gray-300 dark:border-gray-700">
				<h1 class="block m-0 p-0 font-bold text-6xl">Updates</h1>
				<span class="block mt-4 text-3xl text-gray-500 dark:text-gray-400">Thoughts, stories, and ideas</span>
			</div>
		</div>
	</header>
	<div class="block relative">
		{allPosts.map((post, i) => 
			<Post post={post} index={i} />
		)}
	</div>
</BaseLayout>