<script lang="ts">
	import { signin, uuid, reply, slug, comments, mainModal, editing } from './signin'
	import Comment from './Comment.svelte';
	import Editor from './Editor.svelte';
	let slugName
	export {slugName as slug}
	let prerenderedComments
	export {prerenderedComments as comments}
	$comments = prerenderedComments
	$slug = slugName
	$: totalComments = $comments.reduce((total, comment) => total + +(comment.status === 'published') + (comment.replies?.filter(reply => reply.status === 'published').length ?? 0), 0)
</script>
<div class="mb-8 flex w-full items-baseline justify-between">
	<h2 class="text-3xl font-semibold tracking-tight sm:hidden">Discussion</h2>
	<h2 class="text-3xl font-semibold tracking-tight hidden sm:inline">Member Discussion</h2>
	<div class="text-gray-500 dark:text-gray-400">{totalComments} comment{totalComments === 1 ? '' : 's'}</div>
</div>
{#each $comments.sort((a, b) => +new Date(a.created_at) - +new Date(b.created_at)) as comment}
	<Comment {comment} />
{/each}
{#if !$uuid}
	<div class="py-12 px-8 text-center border-y-2 border-dark/30 dark:border-light/30">
		<div class="text-2xl font-semibold mb-2">{$comments.length > 0 ? 'Join the discussion' : 'Start the conversation'}</div>
		<p class="mb-6">Become a member of <span class="font-semibold">Updates</span> to start commenting</p>
		<button on:click={() => { $signin = false; $mainModal?.showModal() } } class="bg-average text-white font-medium hover:bg-opacity-90 transition rounded px-5 py-3 mb-3"><span class="bg-black bg-clip-text">Join Updates</span></button>
		<p class="text-sm">Already a member? <button on:click={() => { $signin = true; $mainModal?.showModal() }} class="text-average font-semibold hover:opacity-90 transition"><span class="bg-black bg-clip-text">Sign in</span></button></p>
	</div>
{:else if !$reply && !$editing}
	<Editor />
{/if}