<script lang="ts">
	import Chart from 'chart.js/auto'
	import { onMount } from 'svelte'
	export let name: string = ''
	export let email: string = ''
	export let sources: { source: string, visitors: number }[] = []
	export let topPages: { page: string, visitors: number, bounce_rate: number }[] = []
	export let browsers: { browser: string, visitors: number, bounce_rate: number }[] = []
	export let conversions: { goal: string, visitors: number }[] = []
	export let timeseries: { date: string, visitors: number }[] = []
	export let stats: { pageviews: { value: number }, visit_duration: { value: number }, visitors: { value: number }, bounce_rate: { value: number } }
	const dailyVisitors = timeseries.map(({ visitors }) => visitors)
	const day = timeseries.map(({ date }) => new Date(date).toLocaleDateString(undefined, {weekday: 'short', day: 'numeric', month: 'short'}))
	onMount(() => {
		const ctx = document.getElementById('area-chart') as HTMLCanvasElement
		const gradient = ctx.getContext('2d')!.createLinearGradient(0, 0, 0, 300)
		gradient.addColorStop(0, 'rgba(101,116,205, 1)')
		gradient.addColorStop(1, 'rgba(101,116,205, 0)')
		const chart = new Chart(ctx, {
			type: 'line',
			data: {
				labels: day,
				datasets: [{
					label: 'Visitors',
					data: dailyVisitors,
					fill: true,
					borderColor: 'rgba(101,116,205)',
					pointBackgroundColor: 'rgba(101,116,205)',
					pointHoverBackgroundColor: 'rgba(71, 87, 193)',
					yAxisID: 'y',
					borderWidth: 3,
					pointBorderColor: "transparent",
					pointHoverRadius: 4,
					backgroundColor: gradient,
					tension: 0.25
				}]
			},
			options: {
				animation: false,
				plugins: {
					legend: { display: false },
				},
				responsive: true,
				elements: { line: { tension: 0 }, point: { radius: 0 } },
				scales: {
					y: {
						min: 0,
						ticks: {
							precision: 0
						},
						border: {
							display: false
						},
					},
					yComparison: {
						min: 0,
						display: false,
						grid: { display: false },
					},
					x: {
						grid: { display: false },
					}
				},
				interaction: {
					mode: 'index',
					intersect: false,
				}
			}
		})
	})
</script>
<div>
	<div>
		{name} {email}
	</div>
	<div>
		{#each topPages as { page, visitors, bounce_rate }}
		<div>
			{page} {visitors} {bounce_rate}
		</div>
		{/each}
	</div>
	<div>
		{#each browsers as { browser, visitors, bounce_rate }}
		<div>
			{browser} { (visitors / browsers.reduce((acc, cur) => acc + cur.visitors, 0) * 100).toFixed(1) } {visitors} {bounce_rate}
		</div>
		{/each}
	</div>
	<div>
		{#each conversions as { goal, visitors }}
		<div>
			{goal} {visitors}
		</div>
		{/each}	
	</div>
	<div class="max-w-screen-xl mx-auto w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
		<div class="flex justify-between">
			<div>
				<h5 class="leading-none text-3xl font-bold text-gray-900 dark:text-white pb-2">{stats.visitors.value}</h5>
				<p class="text-base font-normal text-gray-500 dark:text-gray-400">Users this week</p>
			</div>
			<div>
				<h5 class="leading-none text-3xl font-bold text-gray-900 dark:text-white pb-2">{stats.bounce_rate.value}%</h5>
				<p class="text-base font-normal text-gray-500 dark:text-gray-400">Bounce Rate</p>
			</div>
			<div>
				<h5 class="leading-none text-3xl font-bold text-gray-900 dark:text-white pb-2">{stats.pageviews.value}</h5>
				<p class="text-base font-normal text-gray-500 dark:text-gray-400">Total Pageviews</p>
			</div>
			<div>
				<h5 class="leading-none text-3xl font-bold text-gray-900 dark:text-white pb-2">{stats.visit_duration.value}s</h5>
				<p class="text-base font-normal text-gray-500 dark:text-gray-400">Visit Duration</p>
			</div>
			<div class="flex items-center px-2.5 py-0.5 text-base font-semibold text-green-500 dark:text-green-500 text-center">12%
				<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="size-3 ms-1 fill-none" viewBox="0 0 10 14">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M5 13V1m0 0L1 5m4-4 4 4" class="stroke-2"/>
				</svg>
			</div>
		</div>
		<canvas id="area-chart" class="max-h-screen"></canvas>
		<div class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between">
			<div class="flex justify-between items-center pt-5">
				<!-- Button -->
				<button id="dropdownDefaultButton" data-dropdown-toggle="lastDaysdropdown" data-dropdown-placement="bottom" class="text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 text-center inline-flex items-center dark:hover:text-white" type="button">Last 7 days
					<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-2.5 m-2.5 ms-1.5 fill-none" viewBox="0 0 10 6">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="m1 1 4 4 4-4" class="stroke-2"/>
					</svg>
				</button>
				<!-- Dropdown menu -->
				<div id="lastDaysdropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
					<ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
						<li>
							<a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Yesterday</a>
						</li>
						<li>
							<a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Today</a>
						</li>
						<li>
							<a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last 7 days</a>
						</li>
						<li>
							<a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last 30 days</a>
						</li>
						<li>
							<a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last 90 days</a>
						</li>
					</ul>
				</div>
				<a href="#" class="uppercase text-sm font-semibold inline-flex items-center rounded-lg text-blue-600 hover:text-blue-700 dark:hover:text-blue-500  hover:bg-gray-100 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 px-3 py-2">Users Report
					<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="size-2.5 ms-1.5 rtl:rotate-180 fill-none" viewBox="0 0 6 10">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="m1 9 4-4-4-4" class="stroke-2"/>
					</svg>
				</a>
			</div>
		</div>
	</div>
	<div class="max-w-screen-xl mx-auto w-full bg-white rounded shadow dark:bg-gray-800 p-4 md:p-6">
		{#each sources as { source, visitors }}
		<div>
			{source} {visitors}
		</div>
		{/each}
	</div>
</div>