<script lang="ts">
	import { name, gravatar, reply, comments, editing } from './signin'
	import { generateHSL } from '@lib/commentUtils'

	async function submitComment(e: SubmitEvent) {
		const form = e.target as HTMLFormElement
		const formData = new FormData(form, e.submitter)
		const comment = formData.get('comment')
		if (!comment) return
		if ($editing && currentComment?.html === comment)
			return $editing = '', form.reset()
		e.submitter?.blur()
		form.disabled = true
		const url = $editing ? `/members/api/comments/${$editing}` : form.action
		if (!$editing)
			window.umami?.track('Comment')
		const res = await fetch(url, {
			method: $editing ? 'PUT' : form.method,
			body: formData
		})
		form.disabled = false
		if (!res.ok)
			return
		form.reset()
		const data = await res.json()
		if (!$reply && !$editing)
			return $comments = [...$comments, data[0]]
		if ($editing) {
			if (!currentComment)
				return
			const { edited_at, html } = data
			currentComment.edited_at = edited_at
			currentComment.html = html
			$editing = ''
			return $comments = $comments
		}
		(currentComment as { replies?: { status: 'published' | 'hidden' | 'deleted'; id: string; created_at: number; edited_at: number; html: string; }[] } | undefined)?.replies?.push(data[0])
		$comments = $comments
		$reply = ''
	}
	$: title = $reply ? 'Reply to comment' : $comments.length > 0 ? 'Join the discussion' : 'Start the conversation'
	$: currentComment = $comments.find((comment) => comment.id === ($editing || $reply)) || $comments.flatMap(comment => comment.replies).find((replyComment) => replyComment?.id === ($editing))
</script>
<form on:submit|preventDefault={submitComment} action="/members/api/comments" method="post" class="transition duration-200 rounded-md mb-4">
	<div class="relative w-full">
		<div data-reply={$reply || $editing} class="pr-px peer group">
			<div class="block relative w-full pl-[3.25rem] h-56 group-data-[reply='']:h-14 focus-within:!h-56 transition-[padding,height] delay-100 duration-150 group">
			<!-- svelte-ignore a11y-autofocus -->
			{#if $editing}
				<textarea id="comment" autofocus value="{currentComment?.html ?? ''}" name="comment" class="w-full rounded-md bg-card dark:bg-card-dark px-3 py-4 leading-normal transition-all delay-100 duration-150 outline-none group-focus-within:outline-none group-data-[reply='']:cursor-pointer overflow-hidden group-data-[reply='']:h-full h-44 group-focus-within:!h-44 group-data-[reply='']:mt-0 mt-12 group-focus-within:!mt-12 border-none cursor-text group-focus-within:!cursor-text resize-none peer/input" placeholder="{title}" />
			{:else}
				<textarea id="comment" autofocus={!!$reply} name="comment" class="w-full rounded-md bg-card dark:bg-card-dark px-3 py-4 leading-normal transition-all delay-100 duration-150 outline-none group-focus-within:outline-none group-data-[reply='']:cursor-pointer overflow-hidden group-data-[reply='']:h-full h-44 group-focus-within:!h-44 group-data-[reply='']:mt-0 mt-12 group-focus-within:!mt-12 border-none cursor-text group-focus-within:!cursor-text resize-none peer/input" placeholder="{title}" />
			{/if}
				<div class="absolute bottom-2 right-2 flex space-x-4 transition-opacity duration-150">
					{#if $reply || $editing}
						<button on:click={() => $reply = $editing = ''} class="text-neutral-500 dark:text-neutral-400 outline-none hover:opacity-75 focus:opacity-75 transition-opacity" type="button">Cancel</button>
					{/if}
					<button name="parent_id" value={$reply} type="submit" class="flex w-auto items-center justify-center sm:min-w-32 h-10 rounded-md bg-neutral-900 dark:bg-white text-white dark:text-neutral-900 hover:bg-opacity-75 focus:bg-opacity-75 px-3 py-2 text-center text-sm font-semibold outline-none transition-[background-color,opacity] duration-150">{$reply ? 'Add reply' : $editing ? 'Save' : 'Add comment'}</button>
				</div>
			</div>
		</div>
		<div data-editing={$editing} class="group absolute left-0 top-0 flex h-12 w-full data-[editing='']:items-center items-start justify-start pointer-events-none peer-[:not([data-reply=''])]:[&_#user]:opacity-100 peer-focus-within:[&_#user]:opacity-100 peer-[:not([data-reply=''])]:[&_#user]:translate-x-0 peer-focus-within:[&_#user]:translate-x-0">
			<div class="mr-3 grow-0 group-data-[editing='']:mt-1">
				<figure class="relative size-10">
					<div style:background-color={generateHSL($name)} class="flex items-center justify-center rounded-full size-full">
						<p class="text-lg text-light font-semibold">{$name.split(' ').map((names) => names.charAt(0).toUpperCase()).join('')}</p>
					</div>
					<img srcset="{$gravatar}72 1x, {$gravatar}108 1.5x, {$gravatar}144 2x, {$gravatar}180 2.5x, {$gravatar}216 3x" src="{$gravatar}72" class="absolute left-0 top-0 rounded-full size-10 text-transparent" alt="Profile" />
				</figure>
			</div>
			<div id="user" class="grow-1 w-full -z-10 opacity-0 -translate-x-4 transition-all delay-100 duration-200 mb-1">
				<h4 class="align-top font-semibold">{$name}</h4>
			</div>
		</div>
	</div>
</form>