---
const { id } = Astro.props

---
<a href=`#${id}` class="opacity-0 group-hover:opacity-75 hover:!opacity-100 transition-opacity" aria-label=`Link to heading ${id}`>
	<span class="before:text-average before:font-bold before:content-['#'] before:absolute before:-left-[1ch] md:before:-left-[1.25ch] before:pr-[.15ch] md:before:pr-[.4ch] relative"><span class=" sr-only">&nbsp;</span></span>
</a>
<slot />