---
const { images, alt }  = Astro.props as { images: { sources: Record<string, string>; img: { src: string; w: number; h: number; }; }, alt: string }
---
<figure>
	<picture>
		{Object.entries(images.sources).map(([format, images]) =>
			<source srcset={images} sizes="(min-width: 1040px) calc(8.01vw + 640px), (min-width: 780px) calc(82.5vw - 120px), calc(100vw - 128px)" type=`image/${format}` />
		)}
		<img class="rounded-2xl w-full" src={images.img.src} alt={alt} height={images.img.h} width={images.img.w} loading="lazy" decoding="async" />
	</picture>
	<figcaption>{alt}</figcaption>
	<hr class="w-20 mt-3.5" />
</figure>