---
type Props = {
	href: string;
	target?: string;
	rel?: string;
	event?: string;
	url?: string;
	id?: string;
	'data-footnote-ref'?: string;
	'aria-describedby'?: string;
}
const { href, id } = Astro.props

const props = { href } as Props
if (new URL(href, Astro.url.origin).host !== Astro.url.host) {
	props.target = '_blank'
	props.rel = 'noopener nofollow'
	props.event = 'Outbound Link: Click'
	props.url = href
}
---
<a id={id} aria-describedby={Astro.props['aria-describedby']} data-footnote-ref={Astro.props['data-footnote-ref']} class="selection:[text-shadow:none] [text-shadow:-.7px_-.7px_0_theme(colors.light),.7px_-.7px_0_theme(colors.light),-.7px_.7px_0_theme(colors.light),.7px_.7px_0_theme(colors.light)] dark:[text-shadow:-.7px_-.7px_0_theme(colors.dark),.7px_-.7px_0_theme(colors.dark),-.7px_.7px_0_theme(colors.dark),.7px_.7px_0_theme(colors.dark)] no-underline bg-gradient-to-r from-average to-average bg-[left_95%] bg-no-repeat transition-[background-size] ease-[ease] duration-200 bg-[length:100%_.125rem] hover:bg-[length:0_.125rem] hover:bg-[right_95%]" href={props.href} rel={props.rel} target={props.target} data-umami-event={props.event} data-umami-event-url={props.url}><slot /></a>