---
import Image from './Image.astro'
import Video from './Video.astro'
async function getImage(image: string) {
	let pictures
	if (image.endsWith('.svg')) {
		const images = import.meta.glob('@assets/images/*.svg', {
			import: 'default'
		})
		const temp = images[image] as () => Promise<string>
		const temp2 = await temp()
		return { sources: {'svg+xml': temp2 }, img: { src: temp2, w: 10, h: 10 } }
	}
	else if (image.endsWith('.png')) {
		pictures = import.meta.glob('@assets/images/*.png', {
			import: 'default',
			query: {
				w: '438;635;800;948;1095;1242;1362;1475;1560;1799;1804;1920',
				format: `avif;webp;png`,
				as: 'picture',
				imagetools: true
			}
		})
	}
	else {
		pictures = import.meta.glob(['@assets/images/*', '!@assets/images/*.png', '!@assets/images/*.svg'], {
			import: 'default',
			query: {
				w: '438;635;800;948;1095;1242;1362;1475;1560;1799;1804;1920',
				format: `avif;webp;jpg`,
				as: 'picture',
				imagetools: true
			}
		})
	}
	const temp = pictures[image] as () => Promise<{ sources: Record<string, string>; img: { src: string; w: number; h: number; } }>
	return await temp()
}
async function getVideo(video: string) {
	const importedVideo = await import.meta.glob('@assets/videos/*.mp4', {
		import: 'default'
	})
	const temp = importedVideo[video] as () => Promise<string>
	return await temp()
}

const props = Astro.props

const images = props.src.endsWith('.mp4') ? await getVideo(props.src) : await getImage(props.src)
---

{props.src.endsWith('.mp4') ?
	<Video video={images} />
	:
	<Image {images} alt={props.alt} />
}