<script lang="ts">
	const delay = 1000
	async function update() {
		const data = await fetch('https://jellyfin.joshuastock.net/ping')
		const parsed = await data.json()
		const userActive = parsed.find(
			(element: { UserId: string; NowPlayingItem: { Type: string; }; }) =>
				element.UserId === '20de04ad5ec247ac9afb1dd223aac3a5' &&
				((element.NowPlayingItem?.Type ?? '') === 'Audio')
		)
		if (!userActive)
			return
		const { Name, Artists, Album, Id, ImageTags, ProviderIds, RunTimeTicks } = userActive.NowPlayingItem
		const { PlayState } = userActive
		const nowPlaying = {
			Name,
			Artists,
			Album,
			Images: {
				Primary: ImageTags.Primary ? `https://jellyfin.joshuastock.net/Items/${Id}/Images/Primary?quality=90` : undefined
			},
			URLs: {
				Album: ProviderIds?.MusicBrainzAlbum ? `https://musicbrainz.org/release/${ProviderIds.MusicBrainzAlbum}` : `https://google.com/search?q=${Album}%20${Artists.join(', ')}`,
				Artists: ProviderIds?.MusicBrainzArtist?.split(';').map((artist: string) => {
					return `https://musicbrainz.org/artist/${artist}`
				}) ?? [`https://google.com/search?q=${Artists.join(', ')}`],
				Track: ProviderIds?.MusicBrainzTrack ? `https://musicbrainz.org/track/${ProviderIds.MusicBrainzTrack}` : `https://google.com/search?q=${Name}%20${Artists.join(', ')}`
			},
			Progress: ticksToMinutes(PlayState?.PositionTicks),
			Duration: ticksToMinutes(RunTimeTicks)
		}
		return nowPlaying
	}
	let musicData: {
		Name: any; Artists: any; Album: any; Images: { Primary: string | undefined; }; URLs: { Album: string; Artists: any; Track: string; }; // Alternatively, use ExternalUrls and match them to the correct option
		Progress: { minutes: number; seconds: string; overall: number | null; }; Duration: { minutes: number; seconds: string; overall: number | null; };
	} | undefined
	setInterval(async() => {
		musicData = await update()
	}, delay)
	function ticksToMinutes(ticks: number | null) {
		const runtimeSecs = (ticks ?? 0) / 10000000
		const minutes = Math.floor(runtimeSecs / 60)
		const seconds = Math.floor(runtimeSecs % 60).toString().padStart(2, '0')
		const overall = ticks
		return { minutes, seconds, overall }
	}
</script>
<div class="rounded-lg bg-card dark:bg-card-dark flex items-center p-6 w-full not-prose my-6 not-italic">
	{#if musicData?.Images?.Primary}
		<picture class="object-cover h-40 w-40 rounded-lg aspect-square">
			<source srcset="{`${musicData.Images.Primary}&width=320&format=webp 1x, ${musicData.Images.Primary}&width=480&format=webp 1.5x, ${musicData.Images.Primary}&width=640&format=webp 2x`}" type="image/webp" />
			<img srcset="{`${musicData.Images.Primary}&width=320&format=jpg 1x, ${musicData.Images.Primary}&width=480&format=jpg 1.5x, ${musicData.Images.Primary}&width=640&format=jpg 2x`}" class="object-cover h-40 w-40 rounded-lg aspect-square bg-gradient-to-br from-red-500 to-highlight transition-opacity text-transparent" src="{`${musicData.Images.Primary}&format=jpg`}" alt="Primary" />
		</picture>
	{:else}
		<div class="object-cover h-40 w-40 rounded-lg aspect-square bg-gradient-to-br from-red-500/50 to-highlight/50" />
	{/if}
	<div class="flex flex-col justify-between ml-4 w-full h-40 text-lg">
		<div class="flex flex-col basis-3/5 flex-grow flex-shrink-0 justify-between">
			<div>
				<a class="hover:underline" href="{musicData?.URLs?.Track ?? ''}">{musicData?.Name ?? 'Song name'}</a>
			</div>
			<div class="text-dark/80 dark:text-light/80 text-ellipsis">
				by
				{#each musicData?.Artists ?? ['Song artist'] as artist, i}
					<a href="{musicData?.URLs?.Artists[i] ?? ''}" class="font-bold text-dark/80 dark:text-light/80 hover:underline">{artist ?? 'Artist name'}</a>{i !== (musicData?.Artists.length ?? 1) - 1 ? ', ' : ''}
				{/each}
			</div>
			<div>
				<a href="{musicData?.URLs?.Album ?? ''}" class="text-dark/80 dark:text-light/80 hover:underline">{musicData?.Album ?? 'Album name'}</a>
			</div>
		</div>
		<div class="flex flex-col basis-2/5 flex-grow-0 flex-shrink justify-end text-base">
			<div id="progress" class="bg-average/50 w-full h-1 rounded-full">
				<div class="bg-average h-1 transition-all transition-linear duration-1000 rounded-full" style:width={`${(musicData?.Progress?.overall ?? 0) / (musicData?.Duration?.overall ?? 100) * 100}%`} />
			</div>
			<div class="flex justify-between mt-2 w-full leading-none">
				<div>{musicData?.Progress?.minutes ?? 0}:{musicData?.Progress?.seconds ?? '00'}</div>
				<div>{musicData?.Duration?.minutes ?? 0}:{musicData?.Duration?.seconds ?? '00'}</div>
			</div>
		</div>
	</div>
</div>