<script lang="ts">
    export let path = ''
    export let currentPath = ''
</script>
<li class="relative sm:mr-12 last:mr-0">
	<a data-current={path === currentPath} class="block py-2 font-semibold transition-opacity text-dark dark:text-light pl-8 sm:pl-0 before:absolute before:w-4 sm:before:w-full before:h-[0.1875rem] before:top-1/2 sm:before:top-0 sm:before:-mt-5 sm:before:px-6 sm:before:-ml-0.5 before:left-0 before:p-0 data-[current=true]:before:bg-average before:bg-neutral-500 sm:before:bg-transparent data-[current=false]:opacity-50 data-[current=false]:hover:opacity-100" href="{path}">
        <slot />
    </a>
</li>