<script lang="ts">
	export let path = ''
	export let data: {date: string, title: string, path: string}[] = []
	export let tags: string[] = []
	import { onMount } from 'svelte'
	import { Searcher } from 'fast-fuzzy'
	import NavbarLink from './NavbarLink.svelte'
	import headshotAvif from '@assets/headshot.png?w=28;42;56&format=avif&imagetools';
	import headshotWebp from '@assets/headshot.png?w=28;42;56&format=webp&imagetools';
	import headshotJpg from '@assets/headshot.png?w=28;42;56&format=jpg&imagetools';
	import headshotFallback from '@assets/headshot.png?w=28&format=jpg&imagetools';
	const avif = (headshotAvif as string[]).map((image: string, i: number) => `${image} ${i * .5 + 1}x`).join(', ')
	const webp = (headshotWebp as string[]).map((image: string, i: number) => `${image} ${i * .5 + 1}x`).join(', ')
	const jpg = (headshotJpg as string[]).map((image: string, i: number) => `${image} ${i * .5 + 1}x`).join(', ')
	let scrollTop = 0
	let clientHeight: number
	let scrollHeight = 0
	let open = false
	let str = ''
	const postSearcher = new Searcher(data, { keySelector: item => [item.date, item.title] })
	const authorSearcher = new Searcher([{name: 'Josh Stock', path: '/author/josh', picture: { avif, webp, jpg, fallback: headshotFallback as string }}], { keySelector: item => [item.name]})
	const tagSearcher = new Searcher(tags)
	let typingTimer: string | number | NodeJS.Timeout | undefined = undefined
	onMount(() => {
		scrollHeight = document.documentElement.scrollHeight
	})
	function openModal() {
		searchModal?.showModal()
		setTimeout(() => searchBar?.focus(), 200)
	}
	function toUppercase(text: string) {
		return text.charAt(0).toUpperCase() + text.substring(1)
	}
	function sendSearchEvent(text: string) {
		if (text.trim().length > 0)
			window.umami?.track('search_query', { query: text.trim() })
	}
	$: filteredPosts = postSearcher.search(str)
	$: filteredAuthors = authorSearcher.search(str)
	$: filteredTags = tagSearcher.search(str)
	$: {
		clearTimeout(typingTimer)
		typingTimer = setTimeout(() => sendSearchEvent(str), 500)
	}
	let searchModal: HTMLDialogElement | undefined
	let searchBar: HTMLInputElement | undefined
</script>
<label for="scrollBar" class="text-white bg-black sr-only">Scrollbar</label>
<input id="scrollBar" bind:value={scrollTop} class="fixed top-0 left-0 right-0 h-1 appearance-none bg-transparent [&::-moz-range-progress]:bg-gradient-to-r [&::-moz-range-progress]:from-average [&::-moz-range-progress]:to-average [&::-moz-range-progress]:h-1 [&::-moz-range-thumb]:border-transparent [&::-moz-range-thumb]:bg-transparent [&::-webkit-slider-thumb]:appearance-none [&::-webkit-slider-thumb]:h-2 [&::-webkit-slider-thumb]:w-[0.1px] [&::-webkit-slider-thumb]:shadow-[-100vmax_0_0_100vmax] [&::-webkit-slider-thumb]:shadow-average [&::-webkit-slider-thumb]:[clip-path:polygon(100%_0,-100vmax_0,-100vmax_100%,100%_100%)] w-full z-30" type="range" min="0" max="{scrollHeight - clientHeight}">
<div data-open={open} class="absolute top-0 left-0 w-full z-30 transition-all ease-out bg-light dark:bg-dark data-[open=false]:-translate-y-full sm:data-[open=false]:translate-y-0">
	<nav class="flex max-h-[calc(100vh-6rem)] px-7 sm:px-10 py-5 columns-1 overflow-y-auto border-b-neutral-200 dark:border-b-neutral-700 border-b-2 sm:border-b-0">
		<ul class="relative flex flex-col sm:flex-row w-full my-0 mx-auto p-0">
			<NavbarLink path='/' currentPath={path}>Home</NavbarLink>
			<NavbarLink path='/about' currentPath={path}>About</NavbarLink>
			<NavbarLink path='/privacy' currentPath={path}>Privacy Policy</NavbarLink>
		</ul>
		<ul class="relative m-0 p-0 text-dark dark:text-light text-base hidden sm:flex">
			<li class="relative self-center">
				<button class="size-8 p-2 -mr-2 -mt-1 opacity-50 hover:opacity-100 transition-opacity ease-linear" aria-label="search" on:click={openModal}>
					<svg xmlns="http://www.w3.org/2000/svg" aria-label="Search" class="size-[1em] fill-current" role="img" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7l126.6 126.7c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0s208 93.1 208 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
				</button>
			</li>
		</ul>
	</nav>
	<div class="absolute w-full block sm:hidden bg-light dark:bg-dark transition-transform">
		<div class="flex justify-between items-center px-7 sm:px-10 text-black dark:text-white">
			<button on:click={() => open = !open} class="select-text py-5 flex items-center text-base flex-grow opacity-50 hover:opacity-100 transition-opacity ease-linear">
				<svg xmlns="http://www.w3.org/2000/svg" class="size-[1em] fill-current" role="img" viewBox="0 0 448 512">
					<path d="M0 96c0-17.7 14.3-32 32-32h384c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zm0 160c0-17.7 14.3-32 32-32h384c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zm448 160c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32h384c17.7 0 32 14.3 32 32z"/>
				</svg>
				<span class="ml-4 font-semibold">Menu</span>
			</button>
			<button class="py-5 flex items-center text-base -mr-2 opacity-50 hover:opacity-100 transition-opacity ease-linear" aria-label="search" on:click={openModal}>
				<svg xmlns="http://www.w3.org/2000/svg" aria-label="Search" class="size-[1em] fill-current" role="img" viewBox="0 0 512 512">
					<path d="M416 208c0 45.9-14.9 88.3-40 122.7l126.6 126.7c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0s208 93.1 208 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/>
				</svg>
			</button>
		</div>
	</div>
</div>

<dialog bind:this={searchModal} class="group pointer-events-none open:pointer-events-auto opacity-0 invisible open:visible open:opacity-100 grid transition-[opacity,backdrop-filter,visibility] fixed inset-0 backdrop:[transition:backdrop-filter_.5s_ease] backdrop-blur-sm bg-black/20 h-full w-full z-40 max-h-none max-w-none">
	<div class="h-full overflow-y-auto">
		<div class="motion-safe:animate-closeModal motion-safe:group-open:animate-openModal my-20 z-50 bg-white w-full max-w-[95vw] sm:max-w-lg rounded-lg shadow [--tw-shadow:0.3px_0.5px_0.7px_#0000001a,1.5px_2.9px_3.7px_-0.4px_#0000001a,2.7px_5.4px_6.8px_-0.7px_#0000001a,4.5px_8.9px_11.2px_-1.1px_#0000001a,7.1px_14.3px_18px_-1.4px_#0000001a,11.2px_22.3px_28.1px_-1.8px_#0000001a,17px_33.9px_42.7px_-2.1px_#0000001a,25px_50px_62.9px_-2.5px_#0000001a] [--tw-shadow-colored:0.3px_0.5px_0.7px_var(--tw-shadow-color),1.5px_2.9px_3.7px_-0.4px_var(--tw-shadow-color),2.7px_5.4px_6.8px_-0.7px_var(--tw-shadow-color),4.5px_8.9px_11.2px_-1.1px_var(--tw-shadow-color),7.1px_14.3px_18px_-1.4px_var(--tw-shadow-color),11.2px_22.3px_28.1px_-1.8px_var(--tw-shadow-color),17px_33.9px_42.7px_-2.1px_var(--tw-shadow-color),25px_50px_62.9px_-2.5px_var(--tw-shadow-color)] relative m-auto">
			<div data-text={str.length > 0} class="z-10 relative flex items-center py-5 px-4 sm:px-7 bg-white rounded-lg data-[text=true]:rounded-t-lg data-[text=true]:shadow">
				<div class="flex items-center justify-center size-4 mr-3">
					<svg xmlns="http://www.w3.org/2000/svg" class="text-neutral-900 size-4" viewBox="0 0 24 24">
						<path d="m23.38 21.62-6.53-6.53a9.15 9.15 0 0 0 1.9-5.59 9.27 9.27 0 1 0-3.66 7.36l6.53 6.53a1.26 1.26 0 0 0 1.76 0 1.25 1.25 0 0 0 0-1.77ZM2.75 9.5a6.75 6.75 0 1 1 6.75 6.75A6.76 6.76 0 0 1 2.75 9.5Z" class="fill-current"/>
					</svg>
				</div>
				<input bind:this={searchBar} bind:value={str} class="grow -my-5 py-5 -ml-3 pl-3 focus-visible:outline-none placeholder:text-gray-400 outline-none truncate selection:bg-[#0078d7] selection:!text-white" placeholder="Search posts, tags and authors">
				<form method="dialog">
					<button type="submit" class="ml-3 text-sm text-neutral-500 sm:hidden">Cancel</button>
				</form>
			</div>
			<div data-results={str.length > 0} class="overflow-y-auto max-h-[calc(100vh-172px)] sm:max-h-[70vh] -mt-px hidden data-[results=true]:block">
				{#if filteredAuthors.length > 0}
					 <div class="border-t border-neutral-200 py-2">
						<div class="uppercase text-xs text-neutral-400 font-semibold mb-1 tracking-wide px-4 sm:px-7">Authors</div>
						{#each filteredAuthors as {name, path, picture}}
							<a href={path} class="py-2 hover:bg-neutral-100 transition-colors ease-linear px-4 sm:px-7 flex items-center">
								<picture>
									<source srcset={picture.avif} type="image/avif">
									<source srcset={picture.webp} type="image.webp">
									<source srcset={picture.jpg} type="image/jpg">
									<img src={picture.fallback} class="rounded-full bg-neutral-300 w-7 h-7 mr-2 object-cover" loading="eager" alt="{name}">
								</picture>
								<div class="text-lg font-medium leading-none text-neutral-900">{name}</div>
							</a>
						{/each}
					 </div>
				{/if}
				{#if filteredTags.length > 0}
					 <div class="border-t border-neutral-200 py-2">
						<div class="uppercase text-xs text-neutral-400 font-semibold mb-1 tracking-wide px-4 sm:px-7">Tags</div>
						{#each filteredTags as tag}
							<a href="/tags/{tag}" class="py-2 hover:bg-neutral-100 transition-colors ease-linear px-4 sm:px-7 flex items-center">
								<p class="mr-2 text-sm font-bold text-neutral-400">#</p>
								<div class="text-lg font-medium leading-none text-neutral-900">{toUppercase(tag)}</div>
							</a>
						{/each}
					 </div>
				{/if}
				{#if filteredPosts.length > 0}
					<div class="border-t border-neutral-200 py-3">
						<div class="uppercase text-xs text-neutral-400 font-semibold mb-1 tracking-wide px-4 sm:px-7">Posts</div>
						{#each filteredPosts as {date, title, path}}
							<a href={path} class="block py-2 hover:bg-neutral-100 transition-colors ease-linear px-4 sm:px-7">
								<div class="text-lg font-medium leading-none text-neutral-900">{title}</div>
								<div class="text-neutral-500 text-xs">{new Date(date).toLocaleDateString(undefined, {weekday: 'short', month: 'short', day: 'numeric', year: 'numeric'})}</div>
							</a>
						{/each}
					</div>
				{/if}
				{#if (filteredAuthors.length + filteredTags.length + filteredPosts.length) <= 0}
					<div class="border-t border-neutral-200 py-3">
						<div class="uppercase text-xs text-neutral-400 font-semibold mb-1 tracking-wide px-4 sm:px-7">No results found</div>
					</div>
				{/if}
			</div>
		</div>
	</div>
	<form class="fixed inset-0 text-transparent" method="dialog">
		<button class="h-full w-full cursor-default" type="submit">Close</button>
	</form>
</dialog>
<svelte:window bind:scrollY={scrollTop} bind:innerHeight={clientHeight} on:resize={() => scrollHeight = document.documentElement.scrollHeight} />
<svelte:options immutable={true} />