<script lang="ts">
	let scrollTop = 0
</script>
<div style:transform={`translateY(${scrollTop / 4}px)`} class="absolute w-full h-full left-0 top-0 z-10 [background:no-repeat_scroll_center_center_/_cover_#000] flex items-center after:absolute after:w-full after:h-2/3 after:left-0 after:bottom-0 after:z-[13] after:bg-gradient-to-b after:from-black/0 after:to-black/[0.333] animate-fadeIn">
	<slot />
</div>
<svelte:window bind:scrollY={scrollTop} />
<svelte:options immutable={true} />