---
const { post, index } = Astro.props
const metadata = post.data
const { remarkPluginFrontmatter } = await post.render()
const md = remarkPluginFrontmatter.words
---
<article class="relative motion-safe:opacity-0 motion-safe:animate-moveIn" style=`animation-delay: ${index * 150}ms`>
	<div class="max-w-[calc(56rem+8vw)] mx-auto px-7 sm:px-16 md:px-32">
		<a class="group" href=`/${post.slug}`>
			<div class="py-8 border-b border-1 border-gray-300 dark:border-gray-700 text-gray-500 dark:text-gray-400">
				<h2 class="text-4xl font-bold transition-colors ease-out text-dark dark:text-light group-hover:text-average">{metadata.title}</h2>
				<div class="mt-2">By {metadata.author} on {new Date(metadata.pubDate).toLocaleDateString(undefined, {weekday: 'short', month: 'short', day: 'numeric', year: 'numeric'})}</div>
				<p class="text-dark dark:text-light mt-4 overflow-hidden line-clamp-2">{md}</p>
			</div>
		</a>
	</div>
</article>