<script lang="ts">
	import { onMount } from "svelte";
	let subscriptionModal: HTMLDialogElement | undefined
	let uuid: string | undefined
	let subscribed = false
	let comments_notify = false
	onMount(async () => {
		try {
			const params = new URLSearchParams(window.location.search)
			uuid = params.get('uuid') ?? ''
			const action = params.get('action') === 'unsubscribe'
			if (!uuid || !action || !/[a-f0-9]{8}-?[a-f0-9]{4}-?4[a-f0-9]{3}-?[89ab][a-f0-9]{3}-?[a-f0-9]{12}/i.test(uuid))
				return
			({ subscribed } = await (await fetch(`/members/api/member/newsletters?uuid=${uuid}`)).json())
			subscriptionModal?.showModal()
		}
		catch {
			// do nothing
		}
	})
	async function updateAction() {
		await fetch(`/members/api/member/newsletters?uuid=${uuid}`, {
			method: 'PUT',
			body: JSON.stringify({subscribed: subscribed, comments_notify: comments_notify})
		})
	}
	async function unsubscribeAll() {
		subscribed = comments_notify = false
		await updateAction()
	}
</script>
<dialog aria-label="User preferences" bind:this={subscriptionModal} class="group pointer-events-none open:pointer-events-auto opacity-0 invisible open:visible open:opacity-100 grid transition-[opacity,backdrop-filter,visibility] fixed inset-0 backdrop:[transition:backdrop-filter_.5s_ease] backdrop-blur-sm bg-black/20 h-full w-full z-40 max-h-none max-w-none">
	<div class="h-full overflow-y-auto">
		<div class="motion-safe:animate-closeModal motion-safe:group-open:animate-openModal my-20 z-50 bg-white w-full max-w-[95vw] sm:max-w-lg data-[help=true]:max-w-screen-md rounded-lg shadow [--tw-shadow:0.3px_0.5px_0.7px_#0000001a,1.5px_2.9px_3.7px_-0.4px_#0000001a,2.7px_5.4px_6.8px_-0.7px_#0000001a,4.5px_8.9px_11.2px_-1.1px_#0000001a,7.1px_14.3px_18px_-1.4px_#0000001a,11.2px_22.3px_28.1px_-1.8px_#0000001a,17px_33.9px_42.7px_-2.1px_#0000001a,25px_50px_62.9px_-2.5px_#0000001a] [--tw-shadow-colored:0.3px_0.5px_0.7px_var(--tw-shadow-color),1.5px_2.9px_3.7px_-0.4px_var(--tw-shadow-color),2.7px_5.4px_6.8px_-0.7px_var(--tw-shadow-color),4.5px_8.9px_11.2px_-1.1px_var(--tw-shadow-color),7.1px_14.3px_18px_-1.4px_var(--tw-shadow-color),11.2px_22.3px_28.1px_-1.8px_var(--tw-shadow-color),17px_33.9px_42.7px_-2.1px_var(--tw-shadow-color),25px_50px_62.9px_-2.5px_var(--tw-shadow-color)] relative m-auto [&_strong]:font-semibold">
			<div class="z-10 relative flex items-center py-5 px-4 sm:px-7 bg-white rounded-xl selection:!bg-[#0078d7] selection:!text-white">
				<div class="w-full h-full m-4">
					<header class="text-4xl font-bold text-center w-full mb-8">
						<div>Email Preferences</div>
					</header>
					<section class="rounded-lg border border-neutral-200 text-sm mb-10">
						<!--
						<div class="p-5 border-b flex items-center">
						-->
						<div class="p-5 flex items-center">
							<div class="flex-grow">
								<h3>Email Newsletter</h3>
								<p class="text-neutral-500">
									{#if !!subscribed}
										Subscribed
									{:else}
										Unsubscribed
									{/if}
								</p>
							</div>
							<label class="inline-flex items-center cursor-pointer">
								<input bind:checked={subscribed} on:change={updateAction} id="subscribed" name="subscribed" type="checkbox" value="" class="sr-only peer">
								<div class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:absolute after:top-0.5 after:start-0.5 after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all after:duration-150 transition-all duration-150 peer-checked:bg-average"></div>
							</label>
						</div>
						<!--
						<div class="p-5 flex items-center">
							<div class="flex-grow">
								<h3>Comments</h3>
								<p class="text-neutral-500 w-3/4">
									{#if !!comments_notify}
										Subscribed
									{:else}
										Unsubscribed
									{/if}
									<br>
									Get notified when someone replies to your comment
								</p>
							</div>
							<label class="inline-flex items-center cursor-pointer">
								<input bind:checked={comments_notify} on:change={updateAction} id="comments_notify" name="comments_notify" type="checkbox" value="" class="sr-only peer">
								<div class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:absolute after:top-0.5 after:start-0.5 after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all after:duration-150 transition-all duration-150 peer-checked:bg-average"></div>
							</label>
						</div>
						-->
					</section>
					<div class="flex justify-between">
						<button class="select-text rounded-md w-full text-dark px-4 py-2 border ease-linear border-neutral-200 hover:text-red-500 hover:border-red-500 focus:scale-[.97] transition-all duration-200" type="button" on:click={unsubscribeAll}>
							Unsubscribe from all emails
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<form class="fixed inset-0 text-transparent" method="dialog">
		<button class="h-full w-full cursor-default" type="submit">Close</button>
	</form>
</dialog>
