---
const { video } = Astro.props as { video: string }
---
<video class="rounded-2xl w-full" autoplay loop muted playsinline>
	<source src={video} type="video/mp4" />
	Sorry, your browser doesn't support embedded videos.
</video>