---
const { description, slug, title, image, article, pubDate, tags } = Astro.props
import Verify from '@lib/verifyMember';
import { timings } from '@lib/verifyMember'
import icon from '@assets/icon.svg?url'
import optimizedHeadshot from '@assets/headshot.png?w=600&format=jpg&imagetools';
import manifest from '@assets/manifest.webmanifest?url'
import { getCollection } from 'astro:content';
import Navbar from '@components/Navbar.svelte'
import MemberButton from '@components/MemberButton.svelte';
import SubscriptionModal from '@components/SubscriptionModal.svelte';
import './base.css'
import bold700 from '@fonts/Brandon/Brandon-Grotesque-Web-Bold.woff2'
import regular400 from '@fonts/Brandon/Brandon-Grotesque-Web-Regular.woff2'
import getSHA384Hash from '@lib/hash';
const posts = await getCollection('posts')
const search = posts
    .map((data) => {
        const {
            slug,
            data: { title, pubDate, tags }
        } = data

        return {
            date: pubDate,
            title,
            path: slug,
			tags
        }
    })
    .sort((a, b) => +new Date(b.date) - +new Date(a.date))

const allTags = Array.from(new Set(posts.filter(post => post.data.tags !== undefined).flatMap(post => post.data.tags)))

async function digestMessage(message: string) {
	const msgUint8 = new TextEncoder().encode(message)
	const hashBuffer = await crypto.subtle.digest('SHA-256', msgUint8)
	const hashArray = Array.from(new Uint8Array(hashBuffer))
	const hashHex = hashArray
		.map((b) => b.toString(16).padStart(2, '0'))
		.join('')
	return hashHex
}
const { origin, hostname } = Astro.site as URL
const imageUrl = `${origin}${image?.src}`
const formattedSlug = slug?.startsWith('/') ? slug : '/'.concat(slug ?? '')
const canonicalUrl = `${origin}${formattedSlug}`
const index: { '@context': string; '@type': string; name?: string; publisher: { '@type': string; name: string; url: string; logo: { '@type': string; url: string; width: number; height: number; }; }; url: string; mainEntityOfPage: string; description: string; } = { '@context': 'https://schema.org', '@type': 'WebSite', 'publisher': { '@type': 'Organization', 'name': 'Updates', 'url': `${origin}/`, 'logo': { '@type': 'ImageObject', 'url': `${origin}/icon-512.png`, 'width': 512, 'height': 512 } }, 'url': canonicalUrl, 'mainEntityOfPage': canonicalUrl, 'description': description }
const author: { '@type': string; '@context'?: string; name: string; image: { '@type': string; url: string; width: number; height: number; }; url: string; sameAs: string[]; } = { '@type': 'Person', 'name': 'Josh Stock', 'image': { '@type': 'ImageObject', 'url': `${origin}${optimizedHeadshot}`, 'width': 900, 'height': 900 }, 'url': `${origin}/author/josh`, 'sameAs': [ 'https://joshuastock.net/' ] }
const schema: { '@type': string; image?: {'@type': string; 'url': string; height: string; width: string; }; author: { '@type': string; name: string; image: { '@type': string; url: string; width: number; height: number; }; url: string; sameAs: string[]; }; headline: string; datePublished: string; '@context': string; name?: string | undefined; publisher: { '@type': string; name: string; url: string; logo: { '@type': string; url: string; width: number; height: number; }; }; url: string; mainEntityOfPage: string; description: string; } = { ...index, '@type': 'Article', 'author': author, 'headline': title, 'datePublished': pubDate }
index.name = 'Updates'
author['@context'] = 'https://schema.org'
if (image) {
	schema.image = { '@type': 'ImageObject', 'url': imageUrl, 'height': image.height, 'width': image.width }
}

const { DB } = Astro.locals.runtime.env
const verify = await Verify(Astro.request.headers.get('Cookie'), DB)
Astro.response.headers.append('Server-Timing', timings.join(', '))
let uuid, email, name = ''
let subscribed, trackVisits
if (!(verify instanceof Response)) {
	uuid =  await getSHA384Hash(verify.id)
	email = verify.email
	name = verify.name
	subscribed = !!verify.subscribed,
	trackVisits = !!verify.trackVisits
}

---
<html class="supports-[scrollbar-width]:[scrollbar-width:none] [&::-webkit-scrollbar]:hidden scroll-smooth" lang="en">
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1" name="viewport">
		<meta content="#e143a4" name="theme-color">
		<link rel="preload" as="font" type="font/woff2" href={bold700} crossorigin="anonymous">
		<link rel="preload" as="font" type="font/woff2" href={regular400} crossorigin="anonymous">
		<link href={manifest} rel="manifest">
		<link href={icon} rel="icon" type="image/svg+xml">
		<link href="/favicon.ico" rel="icon" sizes="32x32">
		<title>{title}</title>
		{tags?.map((tag: string) =>
			<meta content={tag} property="article:tag">
		)}
		{pubDate && !isNaN(new Date(pubDate).getTime()) &&
			<meta content={new Date(pubDate).toISOString()} property="article:published_time">
		}
		<meta content="Updates" property="og:site_name">
		<meta content={description} property="og:description">
		{image?.src &&
			<meta content={imageUrl} property="og:image">
		}
		<meta content={canonicalUrl} property="og:url">
		<meta content={article ? 'article' : 'website'} property="og:type">
		<meta content={title} property="og:title">
		<meta content="summary_large_image" property="twitter:card">
		<meta content={description} name="description">
		<link href={canonicalUrl} rel="canonical">
		<link href=`${origin}/rss.xml` rel="alternate" type="application/rss+xml" title="Updates">
		<script set:html={JSON.stringify(article ? schema : slug === '/' ? index : author)} type="application/ld+json"></script>
		<script is:inline defer data-domains={hostname} src="https://umami.joshuastock.net/script.js" data-website-id="c29018e3-671b-4b9a-93e6-71af8f6fef89"></script>
	</head>
	<body class="dark:bg-dark bg-light selection:bg-average/80 font-sans tracking-wide">
		<div class="contents overflow-x-hidden">
			<SubscriptionModal client:only="svelte" />
			<MemberButton uuid={uuid} email={email} name={name} subscribed={subscribed} trackVisits={trackVisits} hash={await digestMessage(email)} site={hostname} client:load />
			<Navbar data={search} path={formattedSlug} tags={allTags} client:load />
			<section class="flex flex-col min-h-screen relative pr-0 text-dark dark:text-light">
				<slot />
			</section>
			<footer class="relative pt-[calc(4rem+8vw)] pb-16 mt-auto text-gray-500 dark:text-gray-400">
				<nav class="flex flex-col md:flex-row px-10 py-0 text-center">
					<span class="block mb-8 md:mb-0">Updates &copy; 2024
						<a href="/rss.xml" target="_blank" class="ml-3 md:mx-8 hover:opacity-50 transition-all inline-flex self-center">
							<svg xmlns="http://www.w3.org/2000/svg" aria-label="RSS" class="relative size-[1em] top-[.1em] fill-current" role="img" viewBox="0 0 448 512"><path d="M0 64c0-17.7 14.3-32 32-32 229.8 0 416 186.2 416 416 0 17.7-14.3 32-32 32s-32-14.3-32-32C384 253.6 226.4 96 32 96 14.3 96 0 81.7 0 64zm0 352a64 64 0 1 1 128 0 64 64 0 1 1-128 0zm32-256c159.1 0 288 128.9 288 288 0 17.7-14.3 32-32 32s-32-14.3-32-32c0-123.7-100.3-224-224-224-17.7 0-32-14.3-32-32s14.3-32 32-32z"/></svg>
						</a>
					</span>
					<span>
						<a href="https://gitlab.com/1337_Nerd" data-umami-event="Outbound Link: Click" data-umami-event-url="https://gitlab.com/1337_Nerd" target="_blank" class="mr-8 hover:opacity-50 transition-all inline-flex self-center">
							<svg xmlns="http://www.w3.org/2000/svg" aria-label="Gitlab" class="relative size-[1em] fill-current" role="img" viewBox="0 0 512 512"><path d="m503.5 204.6-.7-1.8L433.1 21c-1.4-3.5-3.9-6.6-7.2-8.6-2.4-1.6-5.1-2.5-8-2.8-2.9-.3-5.7.1-8.4 1.1s-5.1 2.6-7.1 4.8c-1.9 2.1-3.3 4.6-4.1 7.4l-47 144H160.8l-47.1-144c-.8-2.8-2.2-5.3-4.1-7.4-2-2.1-4.4-3.8-7.1-4.8-2.6-1-5.5-1.4-8.4-1.1-2.8.3-5.6 1.2-8 2.8-3.3 2-5.8 5.1-7.2 8.6L9.3 202.8l-.8 1.8c-10 26.2-11.2 55-3.5 82 7.8 26.9 24.1 50.7 46.5 67.6l.2.2.6.4 106 79.5 52.6 39.7 32 24.2c3.7 1.9 8.3 4.3 13 4.3 4.7 0 9.3-2.4 13-4.3l32-24.2 52.6-39.7 106.7-79.9.3-.3c22.4-16.9 38.7-40.6 45.6-67.5 8.6-27 7.4-55.8-2.6-82z"/></svg>
						</a>
						<a href="https://github.com/1337Nerd" data-umami-event="Outbound Link: Click" data-umami-event-url="https://github.com/1337Nerd" target="_blank" class="mr-8 hover:opacity-50 transition-all inline-flex self-center">
							<svg xmlns="http://www.w3.org/2000/svg" aria-label="Github" class="relative size-[1em] fill-current" role="img" viewBox="0 0 512 512"><path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"/></svg>
						</a>
						<a href="https://www.linkedin.com/in/josh-stock" data-umami-event="Outbound Link: Click" data-umami-event-url="https://www.linkedin.com/in/josh-stock" target="_blank" class="hover:opacity-50 transition-all inline-flex self-center">
							<svg xmlns="http://www.w3.org/2000/svg" aria-label="LinkedIn" class="relative size-[1em] fill-current" role="img" viewBox="0 0 448 512"><path d="M100.3 448H7.4V148.9h92.9zM53.8 108.1C24.1 108.1 0 83.5 0 53.8a53.8 53.8 0 0 1 107.6 0c0 29.7-24.1 54.3-53.8 54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448z"/></svg>
						</a>
					</span>
				</nav>
			</footer>
		</div>
	</body>
</html>