---
export const prerender = false
const { DB, KEYS, ENCRYPTION_SECRET, IV, PLAUSIBLE_API, PLAUSIBLE_URL } = Astro.locals.runtime.env
import verifyAdmin from '@lib/verifyAdmin'
import icon from '@assets/icon.svg?url'
import manifest from '@assets/manifest.webmanifest?url'
import bold700 from '@fonts/Brandon/Brandon-Grotesque-Web-Bold.woff2'
import regular400 from '@fonts/Brandon/Brandon-Grotesque-Web-Regular.woff2'
const JWT = Astro.cookies.get('admin-api-session')?.value
const verified = await verifyAdmin(JWT, DB, KEYS, ENCRYPTION_SECRET, IV, Astro.site!.origin)
if (!verified) {
	console.log('here')
	return Astro.redirect('/admin')
}
import '@layouts/base.css'
import DashboardSvelte from "@components/Dashboard.svelte"
const { email, name } = verified
//const email = 'email@example.com'
//const name = 'name'

async function getTimeseries(site_id: string = 'blog.joshuastock.net', period: string = '30d') {
	const url = new URL(`${PLAUSIBLE_URL}/api/v1/stats/timeseries?site_id=${site_id}&period=${period}`)
	try {
		const res = await fetch(url, {
			headers: {
				'Authorization': `Bearer ${PLAUSIBLE_API}`
			}
		})
		const { results } = await res.json()
		console.log('timeseries', results)
		return results
	}
	catch {
		return []
	}
}

async function getStats(site_id: string = 'blog.joshuastock.net', period: string = '30d', metrics: string = 'visitors,pageviews,bounce_rate,visit_duration') {
	const url = new URL(`${PLAUSIBLE_URL}/api/v1/stats/aggregate?site_id=${site_id}`)
	if (period) url.searchParams.set('period', period)
	if (metrics) url.searchParams.set('metrics', metrics)
	try {
		const res = await fetch(url, {
			headers: {
				'Authorization': `Bearer ${PLAUSIBLE_API}`
			}
		})
		const { results } = await res.json()
		console.log(results)
		return results
	}
	catch {
		return {}
	}
}

async function getBreakdown(site_id: string = 'blog.joshuastock.net', property: string = 'visit:source', period: string = '30d', metrics: string = 'visitors', filters: string = '') {
	const url = new URL(`${PLAUSIBLE_URL}/api/v1/stats/breakdown?site_id=${site_id}&property=${property}`)
	if (period) url.searchParams.set('period', period)
	if (metrics) url.searchParams.set('metrics', metrics)
	if (filters) url.searchParams.set('filters', filters)
	try {
		const res = await fetch(url, {
			headers: {
				'Authorization': `Bearer ${PLAUSIBLE_API}`
			}
		})
		const { results } = await res.json()
		console.log(results)
		return results
	}
	catch {
		return []
	}
}

const sources: { source: string, visitors: number }[] = await getBreakdown()
const topPages: { page: string, visitors: number, bounce_rate: number }[] = await getBreakdown('blog.joshuastock.net', 'event:page', '30d', 'visitors,bounce_rate')
const browsers: { browser: string, visitors: number, bounce_rate: number }[] = await getBreakdown('blog.joshuastock.net', 'visit:browser', '30d', 'visitors,bounce_rate')
const conversions: { goal: string, visitors: number }[] = await getBreakdown('blog.joshuastock.net', 'event:goal', '30d', 'visitors')
const timeseries: { date: string, visitors: number }[] = await getTimeseries()
const stats: { pageviews: { value: number }, visit_duration: { value: number }, visitors: { value: number }, bounce_rate: { value: number } } = await getStats()

---
<html class="supports-[scrollbar-width]:[scrollbar-width:none] [&::-webkit-scrollbar]:hidden" lang="en">
	<head>
		<title>Dashboard</title>
		<meta charset="utf-8" />
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<meta content="#b043d1" name="theme-color" />
		<link rel="preload" as="font" type="font/woff2" href={bold700} crossorigin="">
		<link rel="preload" as="font" type="font/woff2" href={regular400} crossorigin="">
		<link href="/favicon.ico" rel="icon" sizes="32x32" />
		<link href=`${icon}` rel="icon" type="image/svg+xml" />
		<link href=`${manifest}` rel="manifest" />
	</head>
	<body class="dark:bg-dark bg-light dark:text-light text-dark selection:bg-average/80 font-sans tracking-wide">
		<div class="contents">
			<DashboardSvelte {name} {email} {sources} {topPages} {browsers} {conversions} {timeseries} {stats} client:only="svelte" />
		</div>
	</body>
</html>